html {
  scroll-behavior: smooth;
}

/* General Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif; /* Ensure consistency */
}

/* Global Section Padding & Margin */
body {
  background-color: #eeeeee; /* Solid grey background */
  color: #333; /* Ensure readable text */
}

/* Hero Section */

/* About Section */
.hero {
  width: 100%;
  background: url("Photos/cementsign.jpg") no-repeat center/cover;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Red overlay with opacity */
}

.heroContent {
  margin-top: 4.5rem;
}
s
