html {
  scroll-behavior: smooth;
}

/* General Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif; /* Ensure consistency */
}

/* Global Section Padding & Margin */
body {
  background-color: #eeeeee; /* Solid grey background */
  color: #333; /* Ensure readable text */
}

/* Hero Section */

/* About Section */
.hero {
  width: 100%;
  background: url("Photos/cementsign.jpg") no-repeat center/cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Overlay */
.overlay {
  height: 100%;
  backdrop-filter: blur(2px);
  width: 100%;
  background-color: #0036863b;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heroContentText {
  margin: 0 15rem;
}
.heroContentText h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
}
.heroContentText p {
  font-size: 2.5rem;
  font-weight: 600;
}
